.background {
  
  background-color: #87D1DE;
  height: calc(100vh - 55px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.background .signUp-student {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #2F2359;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
}

.background .signUp-student:hover {
  background-color: rgb(78, 67, 116);
}

._box_table {
  width: 90%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}