.background {
  
  background-color: #87D1DE;
  height: calc(100vh - 55px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.box {

  background-color: #47B8B6;
  width: 50%;
  height: 95%; 
  padding: 50px;
  text-align: center;

}

.box p {
  font-size: 45px;
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.schedules {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 50px;
  padding: 5px;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
}

.label_search {
  color: #FFFFFF;
  font-size: 25px !important;
  margin-bottom: 20px !important;
  text-align: left;
}

.footer_button {
  width: 100%;
  display: flex !important;
  justify-content: flex-end;
  margin-top: 50px;
}

.footer_button button {
  border: none;
  width: 200px;
  height: 50px;
  background-color: #191B42; 
  border: none;
  border-radius: 10px;
  color: #FFFF;
  font-size: 20px;
  font-weight: bold;
}


